<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>My Family</title>
</head>
<body>
   <div class="container">
        <div class="notification is-primary mt-6">
            <h1 class="is-size-2" > <strong>Mi Familia</strong>.</h1>
            <div class="is-flex is-justify-content-center">
                {% for member in members %}
                <div class="card m-5" style="width: 230px">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src={{member.thumbnail}} alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src={{member.thumbnail}} alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{member.name}}</p>
                                <p class="subtitle is-6">{{member.birth_date}}</p>
                            </div>
                        </div>
                
                        <div class="content has-text-justified">
                            {{ member.description}}                           
                            <br>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</body>
</html>